header {
  flex: 1;
  border: solid 2px black;
  border-radius: 8px;
  padding: 0 1em 0 1em;
  margin: 0.5em 1em 0.5em 1em;
  background-color: lightseagreen;
  box-shadow: 6px 6px 5px darkslategray;
}
