body {
  background-color: darkgray;
}
header {
  border: solid 2px black;
  padding: 0 1em 0 1em;
  margin: 0.5em 0 0.5em 0;
  background-color: lightseagreen;
}

main {
  display: flex;
  border: solid 2px black;
  margin: 0.5em 0 0.5em 0;
  background-color: lightseagreen;
  justify-content: center;
  gap: 2em;
}

.card {
  background-color: whitesmoke;
  padding: 1em;
  margin: 1em;
}

footer {
  border: solid 2px black;
  margin: 0.5em 0 0.5em 0;
  background-color: lightseagreen;
  text-align: center;
}
