body {
  background-color: darkgray;
}
header {
  border: solid 2px black;
  margin: 0.5em 0 0.5em 0;
  background-color: lightseagreen;
}

main {
  display: flex;
  border: solid 2px black;
  margin: 0.5em 0 0.5em 0;
  background-color: lightseagreen;
}

.card {
  background-color: whitesmoke;
  margin: 1em;
}

footer {
  border: solid 2px black;
  margin: 0.5em 0 0.5em 0;
  background-color: lightseagreen;
}
