body {
  background-color: darkgray;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  flex: 1;
  border: solid 2px black;
  border-radius: 8px;
  padding: 0 1em 0 1em;
  margin: 0.5em 0 0.5em 0;
  background-color: lightseagreen;
}

main {
  flex: 8;
  display: flex;
  flex-wrap: wrap;
  border: solid 2px black;
  border-radius: 8px;
  margin: 0.5em 0 0.5em 0;
  padding: 3em;
  background-color: lightseagreen;
  justify-content: center;
  gap: 3em;
}

.card {
  background-color: whitesmoke;
  padding: 0.5em 2em;
  border: solid 2px black;
  border-radius: 8px;
  width: 400px;
}

footer {
  flex: 1;
  border: solid 2px black;
  border-radius: 8px;
  margin: 0.5em 0 0.5em 0;
  background-color: lightseagreen;
  text-align: center;
}
