body {
  background-color: darkgray;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 8;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  border: solid 2px black;
  border-radius: 8px;
  margin: 0.5em 1em 0.5em 1em;
  padding: 3em;
  background-color: lightseagreen;
  box-shadow: 6px 6px 5px darkslategray;
  justify-content: center;
  gap: 3em;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* button {
  width: 10em;
  height: 4em;
  border: solid 2px black;
  border-radius: 8px;
} */
/* 
button:hover {
  scale: 1.1;
  box-shadow: 6px 6px 5px darkslategray;
} */
